@{
    ViewBag.Title = "_Header";
}

<a href="#"><img src="~/Images/logo.png" class="logo" alt="logo"></a>
<ul id="navbar">
    <li><a class="active" href="index.html">Home</a></li>
    <li><a href="shop.html">Shop</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
</ul>
<div class="dropdown">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
        <a href="#">Trading Cards</a>
        <a href="#">Artwork</a>
        <a href="#">Figurines</a>
        <a href="#">Games</a>
        <a href="#">Books</a>
        <a href="#">Comics</a>
        <a href="#">Coins and Currency</a>
        <a href="#">Stamps</a>
        <a href="#">Movie Memorabilia</a>
        <a href="#">Music Memorabilia</a>
        <a href="#">Collectible Tech</a>
        <a href="#">Anime and Manga</a>
        <a href="#">Sports Memorabilia</a>
        <a href="#">Jewelry and Accessories</a>
        <a href="#">Automobile Collectibles</a>
    </div>
</div>
