
@{
    ViewBag.Title = "_Products";
}


<h2>Hot Rare Pproducts</h2>
<p>Gallery Collection</p>
<div class="button-container">
    <button class="collection-button active">All collections</button>
    <button class="collection-button">Cards</button>
    <button class="collection-button">Paintings</button>
    <button class="collection-button">Figurines</button>
    <button class="collection-button">Books</button>
</div>
<div class="pro-container">
    <div class="pro">
        <img src="~/Images/dress.png" alt="dress">
        <div class="des">
            <span>vintage clothes</span>
            <h5>Anouki white vintage dress</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>78$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/bok.png" alt="dress">
        <div class="des">
            <span>london publishing house</span>
            <h5>Rare Shakespeare book</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>1000$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/jew22.png" alt="dress">
        <div class="des">
            <span>vintage jewelry</span>
            <h5>Persian rare jewelry</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>104$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/kpoop.png" alt="dress">
        <div class="des">
            <span>blackpink cards</span>
            <h5>Lisa S-rare cars</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>54$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/marka2.png" alt="dress">
        <div class="des">
            <span>postage stamps collector</span>
            <h5>Rare Postage Stamp</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>32$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/coin2.png" alt="dress">
        <div class="des">
            <span>coins</span>
            <h5>Old rare coin</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>62$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/pika2.png" alt="dress">
        <div class="des">
            <span>rare cards</span>
            <h5>Ultra rare Pikachu card</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>100$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
    <div class="pro">
        <img src="~/Images/tab2.png" alt="dress">
        <div class="des">
            <span>paintings col</span>
            <h5>Van Gogh painting rare</h5>
            <div class="dress">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
                <img src="~/Images/fas-fa-star.png" alt="star" style="max-width: 15px; height: auto;">
            </div>
            <h4>1500$</h4>
        </div>
        <a href="#"><img src="~/Images/biding.png" class="icon1" alt="biding"></a>
    </div>
</div>


