
@{
    ViewBag.Title = "_Smbanner";
}

<div class="banner-box">
    <button class="white">Learn More</button>
</div>
<div class="banner-box banner-box2">
    <button class="white">Learn More</button>
</div>